// Utility function for extracting values from an aspect ratio string. '16x9'
// yields (16, 9). Used for class names and calculations for video dimensions.
@function aspect-ratio-values($string) {
  $i: str-index($string, 'x');

  $a: to-number(str-slice($string, 1, $i - 1));
  $b: to-number(str-slice($string, $i + 1));

  @return ($a, $b);
}
