// Define some MQs sine the existing ones are obscure. These can probably be
// ported over to the core theme eventually

$mobile-portrait: 'only screen and (max-width: 680px) and (orientation: portrait)';
$mobile-landscape: 'only screen and (max-height: 414px) and (max-width: 960px) and (orientation: landscape)';

$tablet-portrait: 'only screen and (min-width: 680px) and (max-width: 768px) and (orientation: portrait)';
$tablet-landscape: 'only screen and (min-width: 680px) and (max-width: 768px) and (orientation: landscape)';

$desktop-portrait: 'only screen and (min-width: 768px) and (orientation: portrait)';
$desktop-landscape: 'only screen and (min-width: 768px) and (orientation: landscape)';

$break-map: (
  'mobile-portrait': $mobile-portrait,
  'mobile-landscape': $mobile-landscape,
  'tablet-portrait': $tablet-portrait,
  'tablet-landscape': $tablet-landscape,
  'desktop-portrait': $desktop-portrait,
  'desktop-landscape': $desktop-landscape,
);

// Media query mixin. Accepts multiple arguments. Because the media queries are
// relatively specific, it's simpler to wrap styles in multiple queries than to
// work from a 'global' base (i.e., a 'mobile-first' strategy). Called with
// a single value, or a comma separated list of values:
//
// @include break-at('mobile-portrait') { ... }
// @include break-at('mobile-portrait', 'tablet-portrait') { .. }
@mixin break-at($media...) {
  $query: '';
  @for $i from 1 through length($media) {
    $value: map-get($break-map, nth($media, $i));
    @if $query != '' {
      $query: '#{$query}, #{$value}';
    } @else {
      $query: $value;
    }
  }

  @media #{$query} {
    @content;
  }
}

// For development
//
// #layout {
//   &:before {
//     content: 'No specified media query';
//     display: block;
//     position: fixed;
//     top: 40px;
//     left: 10px;
//     z-index: 999999;
//     background: white;
//   }

//   @include break-at('desktop-landscape') {
//     &:before {
//       content: 'desktop-landscape';
//     }
//   }

//   @include break-at('desktop-portrait') {
//     &:before {
//       content: 'desktop-portrait';
//     }
//   }

//   @include break-at('tablet-landscape') {
//     &:before {
//       content: 'tablet-landscape';
//     }
//   }

//   @include break-at('tablet-portrait') {
//     &:before {
//       content: 'tablet-portrait';
//     }
//   }

//   @include break-at('mobile-landscape') {
//     &:before {
//       content: 'mobile-landscape';
//     }
//   }

//   @include break-at('mobile-portrait') {
//     &:before {
//       content: 'mobile-portrait';
//     }
//   }
// }
