// Issue 26 Titlepage Settings

// Default Colors

$white: rgba(255, 255, 255, 1) !default;
$black: rgba(0, 0, 0, 1) !default;
$grey: #eee !default;
$success: #5050c5 !default;

// Titlepage color scheme

$titlepage-background-color: $black !default;
$titlepage-text-color: $white !default;

// Variables used for titlepage. Class name must be added to the spread on the
// titlepage, e.g., `::: spread:pos-titlepage-default classes:pos-titlepage`

$titlepage-spread-class-name: 'pos-titlepage' !default;

// Height of spread-contents used for vertical alignment in pixels

$spread-height: 600px !default;

// Todo Could add the following to core theme as variable
$titlepage-text-aligment: left !default;

// Fullbleed background video on titlepage. Should be copied to
// `_overrides.scss` and un-commented. Requires that the titlepage is formatted
// in the manner of the Markdown commented out below, although IDs and class
// names can be changed.

// @include titlepage-vimeo-spread(
//
//   // The slug of the titlepage. Must be the lowercase, hyphenated title of the
//   // titlepage in the titlepage file's frontmatter
//
//   $vimeo-titlepage-slug: 'titlepage',
//
//
//   // The id of the titlepage spread, e.g., `pos-titlepage-default` given the
//   // directive `::: spread:pos-titlepage-default`
//
//   $vimeo-titlepage-spread-id: 'pos-titlepage-default',
//
//
//   // Must be in the format of `AxB`. Currently supports either `16x9` or `4x3`
//
//   $vimeo-aspect-ratio: '16x9'
// );

// Sample Markdown for a titlepage using the mixin above

//
// ---
// title: Titlepage
// type: frontmatter
// ---
//
// ::: titlepage:titlepage
//
// ::: spread:pos-titlepage-default classes:pos-titlepage
//
// ::: media-inline:media-directive-spread-background
//
// ::: subchapter:spread-contents
//
//
// <!-- Titlepage HTML including project title, subhead element, etc. -->
//
//
// ::: exit:spread-contents
//
// ::: exit:pos-titlepage-default
//
// ::: exit:titlepage
//
