@import 'to-number';
@import 'media-queries';
@import 'aspect-ratio-values';
@import 'iframe';

// Handy mixin for fullbleed video backgrounds. Specifics regarding the
// arguments can be found in `_settings.scss`.
@mixin titlepage-vimeo-spread(
  $vimeo-titlepage-slug,
  $vimeo-titlepage-spread-id,
  $vimeo-aspect-ratio
) {
  $values: aspect-ratio-values($vimeo-aspect-ratio);
  $ratio-a: nth($values, 1); // 16
  $ratio-b: nth($values, 2); // 9

  @if $build == 'reader' {
    // Base (desktop) styles
    .#{$titlepage-spread-class-name} .vimeo.vimeo--#{$vimeo-aspect-ratio} {
      position: absolute;
      top: 0;
      left: 0;
    }

    @include break-at('desktop-landscape', 'tablet-landscape') {
      .#{$titlepage-spread-class-name} .vimeo.vimeo--#{$vimeo-aspect-ratio} {
        width: 100vw;

        .embed.supported {
          padding-top: $ratio-b / $ratio-a * 100%;
          width: $ratio-a / $ratio-b * 100%;
          transform: translateX(-50%);
          left: 50%;
          height: 100vh;
        }
      }
    }

    @include break-at(
      'desktop-portrait',
      'tablet-portrait',
      'mobile-portrait'
    ) {
      #layout.#{$vimeo-titlepage-slug} {
        padding-top: 0 !important;
        height: 100% !important;
        columns: unset !important; // TODO this shouldn't be necessary
      }

      .#{$titlepage-spread-class-name} {
        ##{$vimeo-titlepage-spread-id}.spread__content {
          padding-top: 35px;

          #spread-contents {
            width: auto;
            max-width: 100%;
            padding-top: 35px;
          }
          .vimeo.vimeo--#{$vimeo-aspect-ratio} {
            height: 0;
            padding: 0;
            .embed.supported {
              position: static;
              padding: 0;
              height: calc(100vh - #{$mobile-footer-height});
            }
          }

          iframe {
            @include iframe('portrait', $ratio-a, $ratio-b);
          }
        }
      }
    }

    // Mobile styles
    @include break-at('mobile-portrait') {
      #layout.#{$vimeo-titlepage-slug} {
        overflow: hidden;
      }
      ##{$vimeo-titlepage-spread-id}.spread__content {
        padding-top: 0 !important;
        #spread-contents {
          position: fixed;
          left: 0;
          top: 0;
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
          height: calc(100vh - #{$mobile-footer-height});
          padding-bottom: 35px !important; // Add some space at the end of scroll and must overwrite element style
        }
      }
    }

    @include break-at('mobile-landscape') {
      #layout.#{$vimeo-titlepage-slug} {
        padding-top: 0 !important;
        height: 100% !important;
        overflow: hidden;
        columns: unset !important; // TODO this shouldn't be necessary
      }

      .#{$titlepage-spread-class-name} {
        ##{$vimeo-titlepage-spread-id}.spread__content {
          #spread-contents {
            position: fixed;
            left: 0;
            top: 0;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;

            height: calc(100vh - #{$mobile-footer-height});
            padding: 35px 35px 35px;
            width: 100%;
            max-width: 100%;
          }

          padding-top: 0;
          .vimeo.vimeo--#{$vimeo-aspect-ratio} {
            height: 0;
            padding: 0;
            .embed.supported {
              position: relative;
              width: 100vw;
              padding: 0;
            }
          }

          iframe {
            @include iframe('landscape', $ratio-a, $ratio-b);
          }
        }
      }
    }
  }

  // Hide figure background on titlepage spread
  @if $build == 'epub' or $build == 'mobi' {
    .#{$titlepage-spread-class-name} {
      .figure__large.figure__inline.figure__inline--landscape,
      .figure__large.figure__inline.figure__inline--square {
        display: none;
      }
    }
  }
}
