// Declare these variables first since they're used by the
// `titlepage-vimeo-spread` mixin
$mobile-footer-height: 42px;

@import '~b-ber-theme-ccc/application';
@import 'titlepage-vimeo-spread';

$font-joost: 'Joost'; // TODO embedding font in the book for now, but will only need it for the Reader.
@include font-face($font-joost, 'Joost-Regular', ('ttf'));

.#{$titlepage-spread-class-name} .spread__content {
  @if $build == 'reader' {
    background-color: $titlepage-background-color;
    color: $titlepage-text-color;
    padding: 88px 6% 0 3%;

    @include break('mobile') {
      padding: 35px 0 0 0;
    }

    @include break('mobile-landscape') {
      padding: 0;
    }

    #spread-contents {
      height: auto;
      width: auto;
      margin: initial;
      max-width: 680px;
      float: none;

      @include break('mobile') {
        max-width: 400px;
        // Todo: Is there a better place for the following padding
        padding-left: 20px;
        padding-right: 20px;
      }

      @include break('mobile-landscape') {
        max-width: 600px;
      }

      @include break('desktop') {
        max-width: 80vw;
      }

      h1,
      span.authors {
        @include type-settings(17);
        line-height: 1.15em;
        -webkit-font-smoothing: antialiased;
        color: inherit;
        font-family: $font-joost;
        font-style: normal;
        font-weight: normal;
        text-align: $titlepage-text-aligment;
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;

        @include break('desktop') {
          @include type-settings(23);
          line-height: 1.125em;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      .subhead {
        margin: one-line(-4) 0;
        width: 100%;
        position: relative;
        @include break('mobile') {
          padding: 0;
        }

        p {
          @include type-settings(0);
          text-align: $titlepage-text-aligment;
          margin: 0;
          hyphens: none;
          width: 90%;
          min-width: auto;
          max-width: 90%;
          padding: 0;
          @include break('desktop') {
            width: 55%;
            @include type-settings(1);
            line-height: 1.15em;
          }
        }
      }

      .project-context {
        @include type-settings(-9);
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        bottom: unset;
        color: inherit;
        display: block;

        .project-type {
          display: inline-block;
        }

        a {
          color: inherit;
          text-decoration: none;
          width: 25px;
          display: inline-block;
          height: 25px;
          overflow: visible;
          margin-top: -6px;

          span {
            display: none;
          }

          &:after {
            font-family: $font-glyphs;
            content: '\e026';
            color: inherit;
            font-size: 44px;
            position: relative;
            top: 8px;
            line-height: 0;
          }
        }

        span {
          font-family: $font-free-universal;
          margin-right: 16px;
        }

        .published-datetime {
          // TODO: check why this is necessary here
          display: inline-block;
          font-size: inherit;
          line-height: inherit;
          margin: 0;
        }
      }
    }
  }
}
